@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 2rem;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 15% 1fr;
}

a {
  text-decoration: none;
  color: black;
}
ul,
ol {
  list-style: none;
}

/* CATEGORIES */
.categoryPage main {
  grid-column: 2;
  grid-row: 2;
}
.categoryPage h1,
.categoryPage section {
  padding-top: 1rem;
}
.categoryPage section.categories a li {
  font-weight: bold;
}
li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* PRODUCT LIST */

.productList main {
  grid-column: 2/3;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
  gap: 4rem;
}
.productList main h1 {
  grid-column: 1/-1;
}
.productImage {
  position: relative;
  width: 100%;
}
.productImage img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.productImage:hover img {
  opacity: 0.2;
}
.textOverlay {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.textOverlay h3 {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}
.textOverlay p.price,
.textOverlay .discountPrice {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.productImage:hover .textOverlay {
  opacity: 1;
}

/* SOLD OUT ON SALE */

.productList article .price .discount,
.productList article .discountPrice,
.productPage section.infoBox .discountPrice,
.productPage section.infoBox .price .discount {
  display: none;
}
.productList article.onSale .discountPrice,
.productPage section.infoBox.onSale .discountPrice {
  display: flex;
  justify-content: space-between;
  color: rgb(228, 0, 0);
}
.productList article.onSale p.discount,
.productPage section.infoBox.onSale p.price.discount {
  text-decoration: line-through;
}

article.soldOut::before {
  content: "SOLD OUT";
  position: absolute;
  right: 0rem;
  bottom: 4rem;
  background-color: #e0e0e0da;
  padding: 0.5rem;
  font-weight: bold;
  z-index: 100;
}

/* PRODUCT PAGE */

.productPage img {
  padding-top: 5rem;
  display: block;
  margin-right: 5rem;
  max-width: 100%;
}
.productPage {
  display: flex;
  flex-direction: column;
}
.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.title {
  padding-top: 2rem;
}
dt {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}
form {
  display: flex;
  gap: 1rem;
}
form h4 {
  font-weight: bold;
}
select {
  width: 50px;
  cursor: pointer;
}
button {
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.5rem;
  border: none;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
button:hover {
  color: rgba(0, 0, 0, 0.527);
}

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .productPage img {
    width: 40%;
    padding-top: 2rem;
  }
  .productPage {
    flex-direction: row;
  }
  .productPage .title {
    padding-top: 0;
  }
}
